<div class="footer">
  <div class="links">
    <ul>
      <li>Products</li>
      <li>About</li>
      <li>Blog</li>
      <li>Faq</li>
      <li>Contact</li>
    </ul>
  </div>
  <div class="social">
    <ul>
      <li>Facebook</li>
      <li>YouTube</li>
      <li>Twitter</li>
      <li>Pinterest</li>
    </ul>
  </div>
  <div class="return-info">
    <ul>
      <li>Bag</li>
      <li>Faq</li>
      <li>Accessories</li>
    </ul>
  </div>
  <div class="back-to-top">
    <ul>
      <li>Back To top</li>
    </ul></div>
</div>

